/* CSS Document */

A {
	COLOR: #1B75BE; TEXT-DECORATION: none
}

.list A:link{color:#1B75BE;}
.list A:visited{color:#1B75BE; text-decoration:none;}
.list A:active{color:#1B75BE; text-decoration:underline;}
.list A:hover {TEXT-DECORATION: underline}

FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.Trig {
	TEXT-ALIGN: right
}
.Tlef {
	TEXT-ALIGN: left
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px
}
.C000 {
	COLOR: #000
}
.C666 {
	COLOR: #666
}
.C333 {
	COLOR: #333
}
.Cont_tit .C333 {
	COLOR: #333
}
.C4E728D {
	COLOR: #4e728d
}
.Cc00 {
	COLOR: #c00
}
.C00604C {
	COLOR: #00604c
}
.CC000EC {
	COLOR: #c000ec
}
.CEA5E00 {
	COLOR: #ea5e00
}
.C999 {
	COLOR: #999
}
.Cblack {
	COLOR: #000
}
SPAN.Cblack {
	COLOR: #000
}
.Table_fix {
	TABLE-LAYOUT: fixed
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sec_box_JSQ_table INPUT {
	CURSOR: hand
}
.bot_line_btnB {
	CURSOR: hand
}
.btn_SER_Top {
	CURSOR: hand
}
.td_fh INPUT {
	CURSOR: hand
}
A.Ico_aBox {
	CURSOR: hand
}
.gj_tab TD INPUT.btn {
	CURSOR: hand
}
.CD_tab TR.tr_on {
	CURSOR: hand
}
.CD_tab TR.tr_kai_tit TD {
	CURSOR: hand
}
.ts_back INPUT {
	CURSOR: hand
}
.cy_so .btn {
	CURSOR: hand
}
.sc_bot_div INPUT {
	CURSOR: hand
}
TD.hb_time IMG {
	CURSOR: hand
}
.hb_city_Chose A {
	CURSOR: hand
}
DIV.sx_top INPUT.btn {
	CURSOR: hand
}
.xz_box {
	CURSOR: hand
}
.zl_bot INPUT {
	CURSOR: hand
}
.WZ_CH {
	CURSOR: hand
}
INPUT.btn_comm {
	CURSOR: hand
}
INPUT.btn_blue_B {
	CURSOR: hand
}
INPUT.Back_IND {
	CURSOR: hand
}
.bot_line_btnB {
	MARGIN-TOP: 5px; WIDTH: 80px; COLOR: #333; PADDING-TOP: 2px; HEIGHT: 28px
}
.Top {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.NAV_L_Tit {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.Cont_tit {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.sx_J_12 {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.INDEX_Top {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.Cont_caiDet12 {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.IND_Time .tit {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.IND_Site .tit {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.cs_cont DIV.on {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.hb_r_tab TH {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.sx_top {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.sx_tab TD {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.xzbg {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.lieche_tab TH {
	BACKGROUND-IMAGE: url(bg_x.gif); BACKGROUND-REPEAT: repeat-x
}
.lieche_nei_tab TH {
	BACKGROUND-IMAGE: url(bg_x_add.gif); BACKGROUND-REPEAT: repeat-x
}
A.a_INDEX {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.Top_B_arr {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
TD.Cont_tbL A:hover {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
TD.Cont_tbL A.on {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.Cont_tbL A.on_m {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.sx_J_11 {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.sx_J_13 {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.sx_J_31 {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.sec_box_NOS INPUT {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.IND_T_L {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.IND_T_R {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.SER_Logo {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.icon_d {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.Cont_caiDet11 {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.Cont_caiDet13 {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.Cont_caiDet31 {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.Cont_caiDet33 {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.IND_M_ref {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.IND_M_line .tit {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
A.T_r_close {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.CAL_wid_LT {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.CAL_wid_LR {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.CAL_LN A {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.ico_bY {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.ico_bX {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.cs_bot A.on {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.cy_ses_line_TB {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.hb_r_tab TD A.a_k {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.hb_r_tab TD A.a_g {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
A.a_syt {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
A.a_xyt {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.xzbg .CC000EC {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.xz_info_line {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.WZ_tit_W {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.WZ_CH {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.lieche_tab TD A.a_k {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
.lieche_tab TD A.a_g {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
TD A.a_cy_ser {
	BACKGROUND-IMAGE: url(bg.gif); BACKGROUND-REPEAT: no-repeat
}
DIV.menu_div A:hover {
	BACKGROUND-IMAGE: url(bg_add.gif); BACKGROUND-REPEAT: no-repeat
}
DIV.menu_div A.on {
	BACKGROUND-IMAGE: url(bg_add.gif); BACKGROUND-REPEAT: no-repeat
}
.BG_Lnav {
	BACKGROUND-IMAGE: url(bg_Lnav.gif); BACKGROUND-REPEAT: repeat-y
}
.sx_J_21 {
	BACKGROUND-IMAGE: url(bg_y.gif); BACKGROUND-REPEAT: repeat-y
}
.Ico_aBox_icon {
	BACKGROUND-IMAGE: url(IND_Obg.gif); BACKGROUND-REPEAT: no-repeat
}
.Ico_aBox_sha {
	BACKGROUND-IMAGE: url(IND_Obg.gif); BACKGROUND-REPEAT: no-repeat
}
A.Ico_aBox:hover {
	BACKGROUND-IMAGE: url(IND_bgwide.gif); BACKGROUND-REPEAT: no-repeat
}
.cs_cont SPAN {
	BACKGROUND-IMAGE: url(bk_point.gif); BACKGROUND-REPEAT: no-repeat
}
.Top {
	BACKGROUND-POSITION: 0px -12px; PADDING-LEFT: 8px; HEIGHT: 36px; BACKGROUND-COLOR: #fcfdfe
}
.Top SPAN {
	FLOAT: left; MARGIN: 12px 4px 0px 8px; COLOR: #000
}
.Top A {
	FLOAT: left; MARGIN: 12px 4px 0px 8px; COLOR: #555
}
.Top STRONG {
	COLOR: #333
}
.Top A:hover {
	COLOR: #333
}
A.a_INDEX {
	BACKGROUND-POSITION: 0px -36px; MARGIN-TOP: 6px; DISPLAY: block; FLOAT: left; MARGIN-LEFT: 0px; OVERFLOW: hidden; WIDTH: 93px; TEXT-INDENT: 24px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
UNKNOWN {
	MARGIN-TOP: 7px
}
A.a_INDEX:hover {
	BACKGROUND-POSITION: 0px -5px; COLOR: #333; TEXT-DECORATION: none
}
.Top_B_arr {
	BACKGROUND-POSITION: -95px -15px; MARGIN-TOP: 14px; DISPLAY: block; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 5px; HEIGHT: 8px
}
.ZL_Cont_tab {
	BORDER-RIGHT: 0px; TABLE-LAYOUT: fixed; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.Cont_tbL {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top; WIDTH: 105px
}
.NAV_L_Tit {
	BORDER-RIGHT: #d8e1e8 1px solid; BACKGROUND-POSITION: 0px -56px; FONT-WEIGHT: bold; TEXT-INDENT: 10px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
TD.Cont_tbL A {
	DISPLAY: block; WIDTH: 100%; COLOR: #1B75BE; TEXT-INDENT: 10px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
TD.Cont_tbL A:hover {
	BACKGROUND-POSITION: -112px -5px; TEXT-DECORATION: none
}
TD.Cont_tbL A.on {
	BACKGROUND-POSITION: -112px -36px; FONT-WEIGHT: bold; COLOR: #444
}
TD.Cont_tbL A.on:hover {
	BACKGROUND-POSITION: -112px -36px; FONT-WEIGHT: bold; COLOR: #444
}
.Cont_tit {
	PADDING-RIGHT: 25px; BACKGROUND-POSITION: 0px -95px; PADDING-LEFT: 31px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; PADDING-TOP: 15px; BORDER-BOTTOM: #f1f1f1 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #fdfdfd
}
.Cont_tit H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #2567af; PADDING-TOP: 0px
}
.Cont_tit SPAN {
	MARGIN-TOP: 6px; DISPLAY: block; COLOR: #666
}
.Cont {
	MARGIN: 15px
}
.sxjsq_tab {
	TABLE-LAYOUT: fixed; OVERFLOW: hidden; WIDTH: 390px
}
.sx_J_11 {
	BACKGROUND-POSITION: -230px -5px; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 4px; HEIGHT: 80px
}
.sx_J_12 {
	BACKGROUND-POSITION: 0px -258px; VERTICAL-ALIGN: top; WIDTH: 380px; HEIGHT: 80px; TEXT-ALIGN: center
}
.sx_J_13 {
	BACKGROUND-POSITION: -234px -5px; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 6px; HEIGHT: 80px
}
.sx_J_21 {
	BACKGROUND-POSITION: -5px 0px; VERTICAL-ALIGN: top; WIDTH: 390px; HEIGHT: auto
}
.sx_J_31 {
	BACKGROUND-POSITION: -5px -100px; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 390px; HEIGHT: 7px
}
.sec_box_NOS {
	MARGIN: 17px auto; TEXT-ALIGN: center
}
.sec_box_NOS INPUT {
	BORDER-RIGHT: #557b97 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: -254px -5px; BORDER-TOP: #557b97 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 24px; BACKGROUND-ATTACHMENT: fixed; PADDING-BOTTOM: 2px; OVERFLOW: hidden; BORDER-LEFT: #557b97 1px solid; WIDTH: 340px; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #557b97 1px solid; FONT-FAMILY: "Arial Black"; LETTER-SPACING: 5px
}
.tips_p {
	FLOAT: left; WIDTH: 100%; POSITION: relative; BACKGROUND-COLOR: #cccccc
}
.sec_box_NON {
	LEFT: 50%; MARGIN-LEFT: -178px; OVERFLOW: hidden; WIDTH: 355px; TEXT-INDENT: 8px; LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 1px; HEIGHT: 20px; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #d3dfe7; TEXT-ALIGN: left
}
.sec_box_JSQ_table {
	MARGIN: 15px auto; WIDTH: 360px
}
.sec_box_JSQ_table TD {
	PADDING-BOTTOM: 5px; WIDTH: 20%; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.sec_box_JSQ_table INPUT {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 52px; COLOR: #333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 30px
}
INPUT.jsq_btn_B {
	HEIGHT: 70px
}
INPUT.fsize18 {
	FONT-SIZE: 18px
}
.table_jsq {
	BORDER-RIGHT: 0px; TABLE-LAYOUT: fixed; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.table_jsq TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 30px; HEIGHT: auto
}
.tb_tools TD {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.table_jsq .td_L {
	WIDTH: 100px; COLOR: #333; TEXT-ALIGN: right
}
.table_jsq SELECT OPTION {
	COLOR: #333
}
.table_jsq SELECT {
	COLOR: #333
}
.inp_jsq {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 120px; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inp_wid2 {
	WIDTH: 152px
}
.sel_wid {
	WIDTH: 120px
}
.sel_wid2 {
	WIDTH: 160px
}
.sec_box_result {
	BORDER-RIGHT: #e1d897 1px solid; BORDER-TOP: #e1d897 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: #e1d897 1px solid; WIDTH: 366px; BORDER-BOTTOM: #e1d897 1px solid; POSITION: relative; HEIGHT: auto; BACKGROUND-COLOR: #fdfbea
}
.sec_box_result2 {
	BORDER-RIGHT: #e1d897 1px solid; BORDER-TOP: #e1d897 1px solid; MARGIN: 5px auto; BORDER-LEFT: #e1d897 1px solid; WIDTH: 366px; BORDER-BOTTOM: #e1d897 1px solid; POSITION: relative; HEIGHT: auto; BACKGROUND-COLOR: #fdfbea
}
.close_A {
	BACKGROUND-POSITION: -464px -59px; DISPLAY: block; RIGHT: 8px; WIDTH: 8px; POSITION: absolute; TOP: 8px; HEIGHT: 8px
}
.close_A:hover {
	BACKGROUND-POSITION: -480px -59px
}
.sec_box_result_tit {
	FONT-WEIGHT: bold; MARGIN: 5px auto; WIDTH: 350px; COLOR: #c00; TEXT-INDENT: 10px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ebe8d3 1px dashed; TEXT-ALIGN: left
}
.table_jsq_result {
	BORDER-RIGHT: 0px; TABLE-LAYOUT: fixed; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.table_jsq_result TD {
	VERTICAL-ALIGN: top; LINE-HEIGHT: 30px; HEIGHT: auto
}
.table_jsq_result .td_L {
	WIDTH: 108px; TEXT-ALIGN: right
}
.table_jsq_result TD SPAN {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; COLOR: #c00; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.span_resu {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; COLOR: #c00; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.table_jsq_result2 {
	BORDER-RIGHT: 0px; TABLE-LAYOUT: fixed; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.table_jsq_result2 TD {
	PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: auto
}
.table_jsq_result2 .td_L {
	WIDTH: 110px; TEXT-ALIGN: right
}
.inp_wids {
	WIDTH: 70px
}
.hk_res_box {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; OVERFLOW: auto; WIDTH: 160px; LINE-HEIGHT: 130%; PADDING-TOP: 5px; HEIGHT: 74px
}
.inp_orC {
	BORDER-RIGHT: #7f9db9; BORDER-TOP: #7f9db9; BORDER-LEFT: #7f9db9; BORDER-BOTTOM: #7f9db9; BACKGROUND-COLOR: #fff
}
.inp_editC {
	BORDER-RIGHT: #889297; BORDER-TOP: #889297; BORDER-LEFT: #889297; BORDER-BOTTOM: #889297; BACKGROUND-COLOR: #ffffe8
}
.dk_tab_Wid TD.td_L {
	FONT-SIZE: 12px; WIDTH: 73px
}
.dk_tab_Wid2 TD.td_L {
	FONT-SIZE: 12px; WIDTH: 80px
}
.result_bor {
	BORDER-RIGHT: #f60 2px solid; BORDER-TOP: #f60 2px solid; BORDER-LEFT: #f60 2px solid; BORDER-BOTTOM: #f60 2px solid; BACKGROUND-COLOR: #fff
}
.res_Tcont {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
H1.CP_h1C {
	COLOR: #060
}
.Cont_table {
	BORDER-RIGHT: 0px; TABLE-LAYOUT: fixed; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.Cont_table TD {
	FONT-SIZE: 14px; OVERFLOW: hidden; TEXT-INDENT: 1em; LINE-HEIGHT: 220%; BORDER-BOTTOM: #efefef 1px solid; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.Cont_table TD A {
	FONT-SIZE: 14px; LINE-HEIGHT: 220%
}
.Cont_caiDet {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 520px; BORDER-BOTTOM: 0px; HEIGHT: auto
}
.Cont_caiDet11 {
	FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0px
}
.Cont_caiDet13 {
	FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0px
}
.Cont_caiDet21 {
	FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0px
}
.Cont_caiDet31 {
	FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0px
}
.Cont_caiDet32 {
	FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0px
}
.Cont_caiDet33 {
	FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0px
}
.Cont_caiDet11 {
	BACKGROUND-POSITION: -772px -5px; WIDTH: 10px; HEIGHT: 60px
}
.Cont_caiDet12 {
	BACKGROUND-POSITION: 0px -451px; WIDTH: auto; HEIGHT: 60px
}
.Cont_caiDet13 {
	BACKGROUND-POSITION: -782px -5px; WIDTH: 10px; HEIGHT: 60px
}
.Cont_caiDet21 {
	WIDTH: 10px; BACKGROUND-COLOR: #eef0ef
}
.Cont_caiDet31 {
	BACKGROUND-POSITION: -772px -65px; WIDTH: 10px; HEIGHT: 10px
}
.Cont_caiDet33 {
	BACKGROUND-POSITION: -782px -65px; WIDTH: 10px; HEIGHT: 10px
}
.Cont_caiDet32 {
	WIDTH: auto; HEIGHT: 10px; BACKGROUND-COLOR: #eef0ef
}
.CP_tit {
	PADDING-RIGHT: 15px; PADDING-LEFT: 100px; FONT-WEIGHT: bold; FONT-SIZE: 16px; FLOAT: left; BACKGROUND-IMAGE: url(CP_icon.gif); MARGIN-LEFT: 15px; WIDTH: auto; COLOR: #060; LINE-HEIGHT: 45px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 60px; BACKGROUND-COLOR: #fff
}
.CP_Cont_det {
	PADDING-RIGHT: 20px; BORDER-TOP: #eef0ef 1px solid; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 20px; MARGIN: 0px 10px; PADDING-TOP: 20px
}
.CP_Cont_det SPAN {
	FONT-SIZE: 14px; LINE-HEIGHT: 180%
}
.td_fh {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.td_fh INPUT {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 1px; WIDTH: 100px; COLOR: #333; PADDING-TOP: 4px
}
.CP_det_pic {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; FLOAT: right; PADDING-BOTTOM: 1px; MARGIN-LEFT: 20px; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 150px
}
.cp_bot_noti {
	MARGIN-TOP: 10px; FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; COLOR: #999; TEXT-INDENT: 32px
}
.INDEX_Top {
	BACKGROUND-POSITION: 0px -376px; MARGIN-TOP: 5px; MARGIN-LEFT: 5px; WIDTH: 778px; POSITION: relative; HEIGHT: 56px; TEXT-ALIGN: center
}
UNKNOWN {
	WIDTH: 780px
}
.IND_T_L {
	BACKGROUND-POSITION: -628px -5px; LEFT: 0px; WIDTH: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 56px
}
.IND_T_R {
	BACKGROUND-POSITION: -633px -5px; RIGHT: 0px; WIDTH: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 56px
}
.SER_tab {
	PADDING-TOP: 8px
}
.SER_tab  {
	MARGIN: 0px 8px
}
.SER_tab A.on {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333; TEXT-DECORATION: none
}
.SER_tab A.on:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333; TEXT-DECORATION: none
}
.SER_Cont {
	
}
.SER_Logo {
	BACKGROUND-POSITION: -660px -5px; LEFT: 30px; WIDTH: 100px; POSITION: absolute; TOP: 29px; HEIGHT: 20px
}
INPUT.inp_SER_Top {
	BORDER-RIGHT: #7e9db9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #7e9db9 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; LEFT: 180px; PADDING-BOTTOM: 3px; BORDER-LEFT: #7e9db9 1px solid; WIDTH: 400px; COLOR: #000; LINE-HEIGHT: 16px; PADDING-TOP: 3px; BORDER-BOTTOM: #7e9db9 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; POSITION: absolute; TOP: 25px; HEIGHT: 25px
}
.btn_SER_Top {
	LEFT: 595px; WIDTH: 100px; COLOR: #333; PADDING-TOP: 2px; POSITION: absolute; TOP: 24px; HEIGHT: 26px
}
.IND_main {
	WIDTH: 785px
}
.IND_M_L {
	MARGIN-TOP: 5px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px; OVERFLOW: hidden; WIDTH: 521px; HEIGHT: 446px
}
.IND_M_R {
	MARGIN-TOP: 5px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 254px; HEIGHT: 446px
}
UNKNOWN {
	HEIGHT: 450px
}
UNKNOWN {
	HEIGHT: 450px
}
.IND_M_L_N_wide {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f5f8f8
}
.IND_M_L_N_inside {
	BORDER-RIGHT: #c0d2e2 1px solid; BORDER-TOP: #c0d2e2 1px solid; OVERFLOW: hidden; BORDER-LEFT: #c0d2e2 1px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #c0d2e2 1px solid; HEIGHT: 23px; BACKGROUND-COLOR: #fff
}
.icon_d {
	BACKGROUND-POSITION: -9px -121px; MARGIN-TOP: 2px; DISPLAY: block; FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 10px; HEIGHT: 17px
}
.IND_M_L_N_inside_Cont {
	FLOAT: left; MARGIN-LEFT: 5px; OVERFLOW: hidden; WIDTH: 468px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
A.IND_M_ref {
	BACKGROUND-POSITION: -5px -163px; MARGIN-TOP: 2px; DISPLAY: inline; FLOAT: right; WIDTH: 18px; MARGIN-RIGHT: 2px; HEIGHT: 18px
}
A.IND_M_ref:hover {
	BACKGROUND-POSITION: -33px -163px
}
A.IND_M_ref:active {
	BACKGROUND-POSITION: -51px -198px
}
.IND_Time {
	BORDER-RIGHT: #cbd5d8 1px solid; BORDER-TOP: #cbd5d8 1px solid; OVERFLOW: hidden; BORDER-LEFT: #cbd5d8 1px solid; WIDTH: 252px; BORDER-BOTTOM: #cbd5d8 1px solid; HEIGHT: 231px; BACKGROUND-COLOR: #fff
}
.IND_Time .tit {
	BACKGROUND-POSITION: 0px -540px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; COLOR: #333; LINE-HEIGHT: 26px; HEIGHT: 26px; BACKGROUND-COLOR: #eeeeed
}
.IND_BQ {
	BORDER-RIGHT: #cbd5d8 1px solid; BORDER-TOP: #cbd5d8 1px solid; MARGIN-TOP: 10px; OVERFLOW: hidden; BORDER-LEFT: #cbd5d8 1px solid; WIDTH: 252px; BORDER-BOTTOM: #cbd5d8 1px solid; HEIGHT: 205px; BACKGROUND-COLOR: #fff
}
.IND_TJ_area {
	MARGIN-LEFT: -10px; OVERFLOW: hidden; WIDTH: 540px; HEIGHT: 420px
}
A.Ico_aBox {
	MARGIN-TOP: 9px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 14px; WIDTH: 250px; POSITION: relative; HEIGHT: 60px
}
A.Ico_aBox:hover {
	BACKGROUND-POSITION: -7px -4px; TEXT-DECORATION: none
}
.Ico_aBox_icon {
	LEFT: 5px; WIDTH: 42px; POSITION: absolute; TOP: 9px; HEIGHT: 42px
}
.Ico_aBox_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LEFT: 56px; COLOR: #2864a6; POSITION: absolute; TOP: 14px
}
.Ico_aBox_intro {
	FONT-SIZE: 12px; LEFT: 56px; POSITION: absolute; TOP: 34px
}
.Ico_aBox_sha {
	BACKGROUND-POSITION: -17px -170px; LEFT: 5px; WIDTH: 44px; POSITION: absolute; TOP: 44px; HEIGHT: 5px
}
A.Ico_aBox:hover .Ico_aBox_sha {
	BACKGROUND-POSITION: -104px -170px
}
A.Ico_aBox .Ico_aBox_intro {
	COLOR: #a5a5a5
}
A.Ico_aBox:hover .Ico_aBox_intro {
	COLOR: #666
}
.INico1 {
	BACKGROUND-POSITION: -18px -94px
}
.INico2 {
	BACKGROUND-POSITION: -75px -94px
}
.INico3 {
	BACKGROUND-POSITION: -132px -94px
}
.INico4 {
	BACKGROUND-POSITION: -183px -94px
}
.INico5 {
	BACKGROUND-POSITION: -234px -94px
}
.INico6 {
	BACKGROUND-POSITION: -285px -94px
}
.INico7 {
	BACKGROUND-POSITION: -336px -94px
}
.INico8 {
	BACKGROUND-POSITION: -387px -94px
}
.INico9 {
	BACKGROUND-POSITION: -438px -94px
}
.INico10 {
	BACKGROUND-POSITION: -491px -94px
}
.INico11 {
	BACKGROUND-POSITION: -544px -94px
}
.INico12 {
	BACKGROUND-POSITION: -595px -94px
}
.INico13 {
	BACKGROUND-POSITION: -655px -94px
}
.INico14 {
	BACKGROUND-POSITION: -712px -96px
}
.INico15 {
	BACKGROUND-POSITION: -768px -97px
}
.IND_M_line {
	CLEAR: both; BORDER-RIGHT: #c0d2e2 1px solid; BORDER-TOP: #c0d2e2 1px solid; DISPLAY: inline; MARGIN-LEFT: 5px; OVERFLOW: hidden; BORDER-LEFT: #c0d2e2 1px solid; WIDTH: 778px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #c0d2e2 1px solid; POSITION: relative; HEIGHT: 23px; BACKGROUND-COLOR: #f9fafb; TEXT-ALIGN: left
}
UNKNOWN {
	HEIGHT: 21px
}
.IND_M_line A {
	TEXT-DECORATION: underline
}
.IND_M_line .tit {
	BACKGROUND-POSITION: -41px -119px; FONT-WEIGHT: bold; LEFT: -1px; WIDTH: 75px; COLOR: #fff; TEXT-INDENT: 10px; LINE-HEIGHT: 24px; POSITION: absolute; TOP: -1px; HEIGHT: 23px
}
.IND_Site {
	CLEAR: both; BORDER-RIGHT: #cbd5d8 1px solid; BORDER-TOP: #cbd5d8 1px solid; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px; BORDER-LEFT: #cbd5d8 1px solid; WIDTH: 778px; BORDER-BOTTOM: #cbd5d8 1px solid; HEIGHT: auto
}
.IND_Site .tit {
	BACKGROUND-POSITION: 0px -540px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; COLOR: #333; LINE-HEIGHT: 26px; HEIGHT: 26px; BACKGROUND-COLOR: #eeeeed
}
.IND_S_table {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 5px 0px; BORDER-LEFT: 0px; WIDTH: 100%; LINE-HEIGHT: 30px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.IND_S_table TD A {
	FONT-SIZE: 14px; COLOR: #000
}
.IND_S_table TH {
	FONT-SIZE: 12px; WIDTH: 70px; COLOR: #666
}
.IND_S_table TD.more {
	WIDTH: 70px
}
.IND_S_table TD.more A {
	COLOR: #1b75be
}
.IND_S_table .tr_bg {
	BACKGROUND-COLOR: #eff5fc
}
TR.IND_bl_tr TD A {
	COLOR: #f50; TEXT-DECORATION: underline
}
TR.IND_bl_tr TD A:hover {
	COLOR: #f50; TEXT-DECORATION: underline
}
DIV.IND_Site DIV.tit A.fr {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #1b75be; MARGIN-RIGHT: 15px
}
DIV.IND_Site DIV.tit A.fr SPAN {
	COLOR: #f50
}
.IND_lwide {
	CLEAR: both; BACKGROUND-IMAGE: url(IND_BOT_bg.gif); MARGIN-LEFT: 5px; WIDTH: 778px; LINE-HEIGHT: 32px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 32px
}
.IND_lwide .wdL {
	BACKGROUND-POSITION: 0px 0px; FLOAT: left; BACKGROUND-IMAGE: url(IND_BOT.gif); WIDTH: 2px; HEIGHT: 32px
}
.IND_lwide .wdR {
	BACKGROUND-POSITION: -2px 0px; FLOAT: right; BACKGROUND-IMAGE: url(IND_BOT.gif); WIDTH: 2px; HEIGHT: 32px
}
.IND_lwide .fl {
	MARGIN-LEFT: 5px
}
.IND_lwide .fr {
	MARGIN-RIGHT: 5px
}
.IND_lwide SPAN {
	COLOR: #b0b0b0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Cont2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.Cont2 .gj_tab {
	BORDER-RIGHT: 0px; TABLE-LAYOUT: fixed; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.gj_tab TD INPUT.inp {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 144px; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gj_tab TD INPUT.btn {
	VERTICAL-ALIGN: middle; WIDTH: 65px; COLOR: #333; PADDING-TOP: 2px; HEIGHT: 24px
}
.gj_tab .td_L {
	WIDTH: 120px; COLOR: #333; TEXT-ALIGN: right
}
.gj_tab TD {
	LINE-HEIGHT: 37px
}
.Tools_tbg TD {
	BORDER-TOP: #e0e9ed 1px solid; BORDER-BOTTOM: #e0e9ed 1px solid; BACKGROUND-COLOR: #f7f9fb
}
.Tools_tbg2 TD {
	BORDER-BOTTOM: #e0e9ed 1px solid; BACKGROUND-COLOR: #f7f9fb
}
.Tools_resu {
	BORDER-RIGHT: #e1d897 1px solid; BORDER-TOP: #e1d897 1px solid; MARGIN: 8px 12px; BORDER-LEFT: #e1d897 1px solid; WIDTH: 390px; BORDER-BOTTOM: #e1d897 1px solid; POSITION: relative; HEIGHT: auto; BACKGROUND-COLOR: #fdfbea
}
.Tool_res_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 5px 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.Tool_res_tab TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; COLOR: #000; LINE-HEIGHT: 22px; BACKGROUND-COLOR: #fdfbea; BORDER-RIGHT-WIDTH: 0px
}
.Tool_res_tab TD.td_L {
	WIDTH: 167px; COLOR: #666
}
A.T_r_close {
	BACKGROUND-POSITION: -58px -162px; DISPLAY: block; RIGHT: 0px; OVERFLOW: hidden; WIDTH: 15px; POSITION: absolute; TOP: 3px; HEIGHT: 15px
}
A.T_r_close:hover {
	BACKGROUND-POSITION: -74px -162px
}
.CAL_wid {
	BORDER-RIGHT: #a9c8ce 1px solid; BORDER-TOP: #a9c8ce 0px solid; MARGIN-LEFT: 70px; BORDER-LEFT: #a9c8ce 1px solid; WIDTH: 400px; BORDER-BOTTOM: #a9c8ce 1px solid; POSITION: relative; HEIGHT: auto
}
.CAL_wid_LT {
	BACKGROUND-POSITION: -99px -165px; LEFT: -1px; WIDTH: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 43px
}
.CAL_wid_LR {
	BACKGROUND-POSITION: -104px -165px; RIGHT: -1px; WIDTH: 5px; POSITION: absolute; TOP: 0px; HEIGHT: 43px
}
.CAL_wid_top {
	BACKGROUND-IMAGE: url(Cal_bg_tit.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 43px
}
.CAL_LN {
	MARGIN: 0px 1px; LINE-HEIGHT: 18px; HEIGHT: 18px; BACKGROUND-COLOR: #22aadf
}
.CAL_LN A {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 65px; COLOR: #fff; LINE-HEIGHT: 19px; HEIGHT: 18px; TEXT-DECORATION: none
}
.CAL_LN A:hover {
	BACKGROUND-COLOR: #55bee6; TEXT-DECORATION: none
}
A.CAL_A1 {
	BACKGROUND-POSITION: -436px -85px; TEXT-INDENT: 18px
}
A.CAL_A2 {
	BACKGROUND-POSITION: -511px -85px; TEXT-INDENT: 18px
}
A.CAL_A3 {
	BACKGROUND-POSITION: -579px -85px; WIDTH: 35px
}
A.CAL_A4 {
	BACKGROUND-POSITION: -611px -85px; TEXT-INDENT: 10px
}
A.CAL_A5 {
	BACKGROUND-POSITION: -684px -85px; TEXT-INDENT: 10px
}
.CAL_Az {
	FLOAT: left; WIDTH: 55px; HEIGHT: 18px
}
.wnl_div {
	MARGIN-TOP: -3px; MARGIN-BOTTOM: 0px
}
.sunday TD {
	FONT-WEIGHT: bold; FONT-SIZE: 26px; FONT-FAMILY: "Î¢ÈíÑÅºÚ", "ºÚÌå"; BACKGROUND-COLOR: #d3e9f3; TEXT-ALIGN: center
}
.cal_day_NO {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 100%
}
.cal_day_NO TD {
	FONT-WEIGHT: bold; FONT-SIZE: 26px; COLOR: #666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.cal_day_jr {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 100%
}
.cal_day_jr TD {
	FONT-SIZE: 12px; COLOR: #565656
}
TD.weekend_ms {
	COLOR: #fff; BACKGROUND-COLOR: #f60
}
.CAL_div {
	MARGIN: 1px
}
.CD_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.CD_tab TH {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(chaodai_tit.gif); COLOR: #333; TEXT-INDENT: 0px; LINE-HEIGHT: 27px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 27px; TEXT-ALIGN: left
}
.CD_tab TR TD {
	FONT-SIZE: 14px; VERTICAL-ALIGN: top; COLOR: #333; LINE-HEIGHT: 30px; BORDER-BOTTOM: #eff1f1 1px solid; TEXT-ALIGN: left
}
.CD_tab .Wid1 {
	WIDTH: 50px
}
.ico_bY {
	MARGIN-TOP: 11px; DISPLAY: block; MARGIN-LEFT: 15px; WIDTH: 8px; HEIGHT: 8px
}
.ico_bX {
	MARGIN-TOP: 11px; DISPLAY: block; MARGIN-LEFT: 15px; WIDTH: 8px; HEIGHT: 8px
}
.ico_bY {
	BACKGROUND-POSITION: -93px -15px
}
.ico_bX {
	BACKGROUND-POSITION: -94px -44px
}
.CD_tab TR.tr_kai_tit TD {
	BORDER-TOP: #bcc6b3 2px solid; BORDER-BOTTOM-COLOR: #e6e8e8; BACKGROUND-COLOR: #eff1ef
}
.CD_tab TR.tr_kai_cont TD {
	BORDER-BOTTOM-COLOR: #f2f4f4; BACKGROUND-COLOR: #fafbfb
}
#CD1_24 TD {
	BORDER-BOTTOM-COLOR: #bcc6b3
}
#CD2_9 TD {
	BORDER-BOTTOM-COLOR: #bcc6b3
}
#CD3_9 TD {
	BORDER-BOTTOM-COLOR: #bcc6b3
}
#CD4_17 TD {
	BORDER-BOTTOM-COLOR: #bcc6b3
}
#CD5_10 TD {
	BORDER-BOTTOM-COLOR: #bcc6b3
}
.CD_tab TR TD.CD_TD_BOT {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 15px; COLOR: #666; LINE-HEIGHT: 18px; PADDING-TOP: 15px
}
.ts_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.ts_tab TD {
	FONT-SIZE: 12px; COLOR: #999; TEXT-INDENT: 10px; LINE-HEIGHT: 250%; BORDER-BOTTOM: #f3f3f3 1px solid; TEXT-ALIGN: left
}
.ts_tab TD A {
	FONT-SIZE: 14px
}
.ts_tab_detail {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 400px; BORDER-BOTTOM: 0px
}
.ts_det_top {
	BACKGROUND: url(ts_top.gif) no-repeat right bottom; BORDER-BOTTOM: #d8e1e8 1px solid; HEIGHT: 75px; TEXT-ALIGN: center
}
.ts_m {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #daa501; LINE-HEIGHT: 2em; FONT-FAMILY: "ºÚÌå"
}
.ts_a {
	FONT-SIZE: 14px; COLOR: #daa501
}
.ts_c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(ts_det_bg.jpg); PADDING-BOTTOM: 25px; COLOR: #333; LINE-HEIGHT: 180%; PADDING-TOP: 25px; BACKGROUND-REPEAT: repeat-x; HEIGHT: auto; TEXT-ALIGN: center
}
.ts_back {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.ts_back INPUT {
	FONT-SIZE: 14px; WIDTH: 80px; COLOR: #333; PADDING-TOP: 2px
}
.cs_cont {
	MARGIN: 10px 0px
}
.cs_cont DIV SPAN {
	PADDING-RIGHT: 18px; BACKGROUND-POSITION: -2px -9px; DISPLAY: block; PADDING-LEFT: 30px; FONT-SIZE: 14px; COLOR: #555; LINE-HEIGHT: 31px
}
DIV.cs_cont DIV.on SPAN {
	BACKGROUND-POSITION: -6px -266px; COLOR: #000
}
.cs_cont DIV.on {
	BORDER-RIGHT: #f2e7b6 0px solid; BORDER-TOP: #f2e7b6 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #f2e7b6 0px solid; BORDER-BOTTOM: #f2e7b6 1px solid; BACKGROUND-COLOR: #fefcf1
}
.cs_cont DIV {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 0px solid; BORDER-BOTTOM: #fff 1px solid
}
.cs_bot {
	BORDER-TOP: #c0c8cb 1px solid; MARGIN: 0px auto; WIDTH: 95%; HEIGHT: 40px
}
.cs_bot A {
	MARGIN-TOP: 5px; FONT-SIZE: 12px; FLOAT: left; MARGIN-LEFT: 5px; LINE-HEIGHT: 24px; HEIGHT: 20px
}
.cs_bot A:active {
	MARGIN-TOP: 5px; FONT-SIZE: 12px; FLOAT: left; MARGIN-LEFT: 5px; LINE-HEIGHT: 24px; HEIGHT: 20px
}
.cs_bot A.f_a {
	MARGIN-TOP: 8px; DISPLAY: block; FONT-SIZE: 14px; FLOAT: left; WIDTH: 21px; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: center
}
.cs_bot A.on {
	BACKGROUND-POSITION: -7px -196px; FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
.cs_bot A.on:hover {
	BACKGROUND-POSITION: -7px -196px; FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
.Cont_tbL A.on_m {
	BACKGROUND-POSITION: -112px -68px; FONT-WEIGHT: normal
}
.Cont_tbL A.on_m:hover {
	BACKGROUND-POSITION: -112px -68px; FONT-WEIGHT: normal
}
DIV.menu_div {
	BORDER-BOTTOM: #d1e5f0 1px solid
}
DIV.menu_div A {
	MARGIN-LEFT: 4px; OVERFLOW: hidden; WIDTH: 96px; COLOR: #5998db; TEXT-INDENT: 18px; HEIGHT: 25px
}
DIV.menu_div A:hover {
	BACKGROUND-POSITION: -11px -17px
}
DIV.menu_div A.on {
	BACKGROUND-POSITION: -11px -52px; COLOR: #666
}
DIV.menu_div A.on:hover {
	BACKGROUND-POSITION: -11px -52px; COLOR: #666
}
.cy_tit {
	FONT-SIZE: 20px; WIDTH: 500px; COLOR: #000; TEXT-INDENT: 10px; LINE-HEIGHT: 180%; BORDER-BOTTOM: #b5b5b5 1px solid; FONT-FAMILY: "ºÚÌå"
}
.cy_tit B {
	FONT-SIZE: 20px; COLOR: #000; FONT-FAMILY: 'ºÚÌå'
}
.cy_tit SPAN {
	COLOR: #3373d5
}
.cy_btl {
	BORDER-TOP: #dfdfdf 1px solid; MARGIN-TOP: 2px; FONT-SIZE: 0px; OVERFLOW: hidden; WIDTH: 500px; LINE-HEIGHT: 0px; HEIGHT: 10px
}
.cy_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 14px; BORDER-LEFT: 0px; WIDTH: 500px; BORDER-BOTTOM: 0px
}
.cy_tab TD {
	FONT-SIZE: 14px; VERTICAL-ALIGN: top; COLOR: #444; LINE-HEIGHT: 180%
}
.cy_tab TD IMG {
	VERTICAL-ALIGN: middle
}
TD.td_L {
	WIDTH: 80px; COLOR: #3373d5; TEXT-ALIGN: right
}
.cy_so {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
TD A.a_cy_ser {
	BACKGROUND-POSITION: -290px -121px
}
TD A.a_cy_ser:hover {
	BACKGROUND-POSITION: -290px -121px; TEXT-DECORATION: underline
}
.cy_so .inp {
	BORDER-RIGHT: #647c96 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #647c96 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: #647c96 1px solid; WIDTH: 180px; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #647c96 1px solid; HEIGHT: 25px
}
.cy_so .btn {
	FONT-SIZE: 14px; VERTICAL-ALIGN: middle; WIDTH: 80px; COLOR: #333; PADDING-TOP: 2px; HEIGHT: 28px
}
.cy_so SPAN {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN: 1px auto; WIDTH: 275px; COLOR: #999; LINE-HEIGHT: 180%; TEXT-ALIGN: left
}
.cy_ses_line {
	FONT-SIZE: 14px; COLOR: #000; TEXT-INDENT: 100px; LINE-HEIGHT: 40px; POSITION: relative; HEIGHT: 40px; BACKGROUND-COLOR: #f1faff
}
.cy_ses_line_TB {
	BACKGROUND-POSITION: -7px -239px; LEFT: 25px; WIDTH: 60px; POSITION: absolute; TOP: -15px; HEIGHT: 54px
}
.cy_ind_line {
	PADDING-RIGHT: 30px; MARGIN-TOP: 60px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000; TEXT-INDENT: 2em; LINE-HEIGHT: 40px; PADDING-TOP: 30px; POSITION: relative; HEIGHT: auto; BACKGROUND-COLOR: #f1faff; TEXT-ALIGN: left
}
.cy_ind_line P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 0px 155px; COLOR: #333; TEXT-INDENT: 2em; LINE-HEIGHT: 30px; PADDING-TOP: 0px
}
.cy_ind_line_TB {
	LEFT: 15px; BACKGROUND-IMAGE: url(cy_ind_l.gif); WIDTH: 289px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: -47px; HEIGHT: 106px
}
.sc_book_div {
	BORDER-TOP: #f3f0df 1px solid; BACKGROUND-IMAGE: url(sc_book_bg.gif); WIDTH: 742px; BORDER-BOTTOM: #dedab7 2px solid; BACKGROUND-REPEAT: repeat-y; POSITION: relative; HEIGHT: auto
}
.sc_List_tab1 {
	DISPLAY: inline; FLOAT: left; MARGIN: 15px 25px; WIDTH: 320px
}
UNKNOWN {
	
}
.sc_List_tab1 TD {
	TEXT-INDENT: 1em; BORDER-BOTTOM: #eeedeb 1px solid
}
.sc_List_tab1 TD A {
	FONT-SIZE: 14px; LINE-HEIGHT: 220%
}
.b1 {
	BACKGROUND-POSITION: 25px 10px; BACKGROUND-IMAGE: url(sc_h1.gif); BACKGROUND-REPEAT: no-repeat
}
.b2 {
	BACKGROUND-POSITION: 150px 150px; BACKGROUND-IMAGE: url(sc_h2.gif); BACKGROUND-REPEAT: no-repeat
}
TD.sc_d_td {
	BORDER-BOTTOM-WIDTH: 0px; TEXT-INDENT: 0px
}
.sc_det_wide {
	DISPLAY: inline; FLOAT: left; MARGIN: 15px 25px; WIDTH: 320px
}
.sc_det_tit {
	BORDER-TOP: #d8e1e8 1px solid; MARGIN-TOP: 40px; OVERFLOW: hidden; WIDTH: 320px; COLOR: #999; LINE-HEIGHT: 30px; BORDER-BOTTOM: #d8e1e8 1px solid; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.sc_det_tit STRONG {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #daa501; FONT-FAMILY: "ºÚÌå"
}
.sc_det_cont {
	MARGIN: 10px 5px; COLOR: #666; LINE-HEIGHT: 180%
}
.sc_fy {
	BORDER-TOP: #dfd9b7 1px solid; MARGIN: 5px auto; WIDTH: 95%; LINE-HEIGHT: 220%
}
.sc_fy SPAN {
	COLOR: #000
}
.sc_bot_div {
	MARGIN: 35px 0px; WIDTH: 742px; TEXT-ALIGN: center
}
.sc_bot_div INPUT {
	FONT-SIZE: 14px; WIDTH: 130px; COLOR: #333; PADDING-TOP: 2px; HEIGHT: 27px
}
.hb_r_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.hb_r_tab TR TD TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.hb_r_tab TH {
	BACKGROUND-POSITION: 0px -937px; FONT-SIZE: 12px; COLOR: #333; LINE-HEIGHT: 25px; BORDER-BOTTOM: #e6eaea 1px solid; HEIGHT: 25px; TEXT-ALIGN: center
}
.hb_r_tab TD {
	FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #555; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BORDER-BOTTOM: #e6eaea 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.hb_r_tab TD A.a_k {
	BACKGROUND-POSITION: -780px -143px; PADDING-LEFT: 13px
}
.lieche_tab TD A.a_k {
	BACKGROUND-POSITION: -780px -143px; PADDING-LEFT: 13px
}
.hb_r_tab TD A.a_k:hover {
	BACKGROUND-POSITION: -780px -189px
}
.lieche_tab TD A.a_k:hover {
	BACKGROUND-POSITION: -780px -189px
}
.hb_r_tab TD A.a_g {
	BACKGROUND-POSITION: -780px -235px; PADDING-LEFT: 13px
}
.lieche_tab TD A.a_g {
	BACKGROUND-POSITION: -780px -235px; PADDING-LEFT: 13px
}
.hb_r_tab TD A.a_g:hover {
	BACKGROUND-POSITION: -780px -281px
}
.lieche_tab TD A.a_g:hover {
	BACKGROUND-POSITION: -780px -281px
}
UNKNOWN {
	BACKGROUND-POSITION: -780px -142px
}
UNKNOWN {
	BACKGROUND-POSITION: -780px -188px
}
UNKNOWN {
	BACKGROUND-POSITION: -780px -234px
}
UNKNOWN {
	BACKGROUND-POSITION: -780px -280px
}
.hb_r_tab TD IMG {
	VERTICAL-ALIGN: middle
}
.hb_r_tab TH.td_tl {
	PADDING-LEFT: 3em; TEXT-ALIGN: left
}
.hb_r_tab TD.td_tl {
	PADDING-LEFT: 2em; TEXT-ALIGN: left
}
.c_js_div {
	MARGIN-TOP: 0px; padding-left:20px;
}
.c_js_div SPAN {
	DISPLAY: inline;
}
SPAN.Cc00 {
	COLOR: #c00
}
TR.zk_tb TD {
	BORDER-BOTTOM: #e0eaf5 1px solid; BACKGROUND-COLOR: #f3f9fe
}
TR.zk_tb_T TD {
	BORDER-TOP: #9db3c5 2px solid; BORDER-BOTTOM: #e0eaf5 1px solid; BACKGROUND-COLOR: #f3f9fe
}
TR.zk_tb_B TD {
	BORDER-BOTTOM: #bbcad7 1px solid; BACKGROUND-COLOR: #f3f9fe
}
TD.hb_bot_f {
	LINE-HEIGHT: 3em; BORDER-BOTTOM: #dae4e9 1px solid; BACKGROUND-COLOR: #f7f9fb
}
A.a_syt {
	BACKGROUND-POSITION: -783px -453px; PADDING-LEFT: 11px
}
A.a_xyt {
	PADDING-RIGHT: 16px; BACKGROUND-POSITION: -697px -385px
}
.c_js_div .fr A.a_syt {
	BACKGROUND-POSITION: -783px -455px
}
.c_js_div .fr A.a_xyt {
	BACKGROUND-POSITION: -697px -387px
}
A.a_syt SPAN {
	COLOR: #666
}
A.a_xyt SPAN {
	COLOR: #666
}
.jx_intro_res {
	BORDER-RIGHT: #b3cfa9 1px solid; BORDER-TOP: #b3cfa9 1px solid; LEFT: 100px; BORDER-LEFT: #b3cfa9 1px solid; WIDTH: 425px; BORDER-BOTTOM: #b3cfa9 1px solid; POSITION: absolute; TOP: 20px; HEIGHT: 325px; BACKGROUND-COLOR: #fafef8
}
.jx_intro_res .tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 5px auto; WIDTH: 400px; COLOR: #060; LINE-HEIGHT: 30px; BORDER-BOTTOM: #dce4e4 1px solid; TEXT-ALIGN: center
}
A.jx_in_close {
	RIGHT: 8px; COLOR: #578846; POSITION: absolute; TOP: 8px
}
A.jx_in_close:hover {
	COLOR: #060; TEXT-DECORATION: underline
}
.ifm_js {
	MARGIN: 0px auto; WIDTH: 423px; HEIGHT: 315px
}
.F_jt {
	LEFT: 300px; WIDTH: 300px; TOP: 400px; HEIGHT: 95px
}
.F_jt .tit {
	WIDTH: 280px
}
.jt_tab_in {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; LINE-HEIGHT: 2em; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.jt_tab_in TD {
	BORDER-RIGHT: #ccc 1px solid; COLOR: #333
}
.jt_tab_in TH {
	BORDER-RIGHT: #ccc 1px solid; COLOR: #333
}
.hb_gx {
	BORDER-RIGHT: #b3cfa9 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #b3cfa9 1px solid; PADDING-LEFT: 20px; LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #b3cfa9 1px solid; COLOR: #333; PADDING-TOP: 10px; BORDER-BOTTOM: #b3cfa9 1px solid; POSITION: absolute; TOP: 150px; BACKGROUND-COLOR: #fafef8
}
.hb_city_Chose {
	FONT-SIZE: 12px
}
.hb_city_Chose TABLE TD {
	FONT-SIZE: 12px
}
.hb_out_div .dk_tab_Wid {
	WIDTH: auto
}
H1.hb_h1_tit {
	FLOAT: left
}
.hbinfo {
	MARGIN-TOP: 80px; FONT-SIZE: 14px; TEXT-ALIGN: center
}
.hbinfo IMG {
	VERTICAL-ALIGN: middle
}
.hbinfo A {
	FONT-SIZE: 14px
}
TD.hb_time INPUT {
	VERTICAL-ALIGN: middle; WIDTH: 80px
}
TD.hb_time SELECT {
	FONT-SIZE: 14px; VERTICAL-ALIGN: middle
}
TD.hb_time IMG {
	VERTICAL-ALIGN: middle
}
INPUT.hb_inp_city {
	WIDTH: 175px; HEIGHT: 23px
}
.hb_city_Chose {
	BORDER-RIGHT: #94b3d1 1px solid; BORDER-TOP: #94b3d1 1px solid; MIN-HEIGHT: 85px; LEFT: 98px; PADDING-BOTTOM: 5px; BORDER-LEFT: #94b3d1 1px solid; WIDTH: 210px; BORDER-BOTTOM: #94b3d1 1px solid; POSITION: absolute; TOP: 181px; HEIGHT: 85px; BACKGROUND-COLOR: #fff
}
UNKNOWN {
	TOP: 181px
}
.hb_city_Chose2 {
	TOP: 211px
}
UNKNOWN {
	TOP: 211px
}
.hb_city_Chose .tit {
	MARGIN: 5px auto; WIDTH: 200px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #c1c1c1 1px dashed
}
.hb_city_Chose A {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; MARGIN: 0px 3px; BORDER-LEFT: #fff 0px solid; LINE-HEIGHT: 140%; BORDER-BOTTOM: #fff 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #fff
}
.hb_city_Chose A:hover {
	BORDER-LEFT-COLOR: #8fc0e7; BORDER-BOTTOM-COLOR: #8fc0e7; BORDER-TOP-COLOR: #8fc0e7; BACKGROUND-COLOR: #ecf7fe; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #8fc0e7
}
.hb_city_Chose A.on {
	BORDER-LEFT-COLOR: #dceffa; BORDER-BOTTOM-COLOR: #dceffa; COLOR: #000; BORDER-TOP-COLOR: #dceffa; BACKGROUND-COLOR: #dceffa; BORDER-RIGHT-COLOR: #dceffa
}
.hb_city_Chose A.on:hover {
	BORDER-LEFT-COLOR: #dceffa; BORDER-BOTTOM-COLOR: #dceffa; COLOR: #000; BORDER-TOP-COLOR: #dceffa; BACKGROUND-COLOR: #dceffa; BORDER-RIGHT-COLOR: #dceffa
}
.hb_city_Chose A.on TABLE TD {
	BORDER-LEFT-COLOR: #dceffa; BORDER-BOTTOM-COLOR: #dceffa; COLOR: #000; BORDER-TOP-COLOR: #dceffa; BACKGROUND-COLOR: #dceffa; BORDER-RIGHT-COLOR: #dceffa
}
.hb_city_Chose TABLE TD {
	LINE-HEIGHT: 140%
}
INPUT.hb_rq_inp {
	WIDTH: 87px; HEIGHT: 23px
}
.sx_top {
	CLEAR: both; BACKGROUND-POSITION: 0px -1007px; PADDING-LEFT: 20px; FONT-SIZE: 12px; OVERFLOW: hidden; COLOR: #666; LINE-HEIGHT: 50px; PADDING-TOP: 15px; HEIGHT: 70px
}
DIV.sx_top INPUT.inp {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 40px; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV.sx_top INPUT.btn {
	VERTICAL-ALIGN: middle; WIDTH: 80px; COLOR: #333; PADDING-TOP: 2px; HEIGHT: 24px
}
DIV.sx_top SPAN {
	FONT-SIZE: 14px
}
.sx_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.sx_tab TD {
	BACKGROUND-POSITION: 0px -1100px; BORDER-TOP: #fff 1px solid; FONT-SIZE: 14px; BORDER-BOTTOM: #e6e6e6 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 64px; BACKGROUND-COLOR: #f2f2f2
}
.TD1 {
	WIDTH: 100px; TEXT-ALIGN: right
}
.TD2 {
	WIDTH: 90px; COLOR: #000; TEXT-ALIGN: center
}
.TD3 {
	WIDTH: 330px; LINE-HEIGHT: 160%; TEXT-ALIGN: left
}
.xzbg {
	BACKGROUND-POSITION: 0px -1192px
}
.xzbg .CC000EC {
	BACKGROUND-POSITION: -776px -773px; PADDING-LEFT: 20px
}
.xz_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 95%; BORDER-BOTTOM: 0px
}
.xz_tab TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.xz_tab TD A {
	TEXT-DECORATION: none
}
.xz_tab TD A:hover {
	TEXT-DECORATION: none
}
.xz_box {
	WIDTH: 110px; POSITION: relative; HEIGHT: 110px
}
.xzbox_on {
	BACKGROUND-IMAGE: url(xz_icon/xzbox_bg.jpg); BACKGROUND-REPEAT: no-repeat
}
.xz_box .xz_icon {
	LEFT: 27px; BACKGROUND-IMAGE: url(xz_all.gif); WIDTH: 56px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 13px; HEIGHT: 56px
}
.xz_box .xz_word_info {
	FONT-SIZE: 12px; LEFT: 5px; WIDTH: 100px; COLOR: #656567; POSITION: absolute; TOP: 75px
}
.xz_box .xz_word_info STRONG {
	FONT-SIZE: 14px
}
.xz_box .ico1 {
	BACKGROUND-POSITION: -4px 0px
}
.xz_box .ico2 {
	BACKGROUND-POSITION: -91px -1px
}
.xz_box .ico3 {
	BACKGROUND-POSITION: -178px -1px
}
.xz_box .ico4 {
	BACKGROUND-POSITION: -265px -1px
}
.xz_box .ico5 {
	BACKGROUND-POSITION: -4px -120px
}
.xz_box .ico6 {
	BACKGROUND-POSITION: -91px -120px
}
.xz_box .ico7 {
	BACKGROUND-POSITION: -175px -120px
}
.xz_box .ico8 {
	BACKGROUND-POSITION: -262px -120px
}
.xz_box .ico9 {
	BACKGROUND-POSITION: -1px -240px
}
.xz_box .ico10 {
	BACKGROUND-POSITION: -87px -240px
}
.xz_box .ico11 {
	BACKGROUND-POSITION: -173px -240px
}
.xz_box .ico12 {
	BACKGROUND-POSITION: -259px -239px
}
.xz_Det_tit {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #537c90; LINE-HEIGHT: 1.8em; BORDER-BOTTOM: #c4cccf 1px solid
}
.xz_Det_tit TD {
	COLOR: #567c8f
}
.xz_Det_tit .tit {
	FONT-SIZE: 20px; LINE-HEIGHT: 1.3em; FONT-FAMILY: "ºÚÌå"
}
.xz_Det_tit .ico {
	WIDTH: 70px; TEXT-ALIGN: center
}
.xz_divH {
	FONT-SIZE: 13px; FLOAT: left; MARGIN: 15px 0px; WIDTH: 49%; COLOR: #000; LINE-HEIGHT: 2em
}
.xz_info_line {
	PADDING-RIGHT: 15px; BACKGROUND-POSITION: -766px -760px; PADDING-LEFT: 35px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; COLOR: #333; LINE-HEIGHT: 1.8em; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.xz_Lbg {
	BACKGROUND-COLOR: #f8f2ff
}
.xz_info_line STRONG {
	FONT-SIZE: 14px; COLOR: #333
}
.xz_info_line P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; TEXT-INDENT: 2em; PADDING-TOP: 0px
}
.zl_bot {
	PADDING-RIGHT: 15px; BORDER-TOP: #c3cbce 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; MARGIN: 30px auto; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.zl_bot INPUT {
	FONT-SIZE: 14px; WIDTH: 80px; COLOR: #333; PADDING-TOP: 2px
}
.WZ_table {
	BORDER-RIGHT: 0px; TABLE-LAYOUT: fixed; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.WZ_table TD {
	FONT-SIZE: 14px; OVERFLOW: hidden; WIDTH: 17%; TEXT-INDENT: 1em; LINE-HEIGHT: 220%; BORDER-BOTTOM: #efefef 1px solid; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.WZ_table A {
	FONT-SIZE: 14px; COLOR: #333
}
.WZ_tit_b {
	MARGIN: 20px 0px; BORDER-BOTTOM: #c7d6e2 1px solid; POSITION: relative; HEIGHT: 10px
}
.WZ_tit_W {
	BACKGROUND-POSITION: -145px -119px; FONT-SIZE: 12px; LEFT: 0px; WIDTH: 70px; COLOR: #fff; LINE-HEIGHT: 20px; POSITION: absolute; TOP: 2px; HEIGHT: 22px; TEXT-ALIGN: center
}
.PB_H {
	PADDING-BOTTOM: 0px
}
UNKNOWN {
	PADDING-BOTTOM: 15px
}
.WZ_CH {
	BACKGROUND-POSITION: -5px -339px; FLOAT: left; WIDTH: 151px; COLOR: #00456c; TEXT-INDENT: 15px; LINE-HEIGHT: 21px; POSITION: relative; HEIGHT: 21px
}
.on {
	BACKGROUND-POSITION: -5px -365px
}
.WZ_CH_f {
	BORDER-RIGHT: #c4e3ea 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c4e3ea 1px solid; PADDING-LEFT: 10px; LEFT: 0px; PADDING-BOTTOM: 10px; BORDER-LEFT: #c4e3ea 1px solid; WIDTH: 330px; PADDING-TOP: 10px; BORDER-BOTTOM: #c4e3ea 1px solid; POSITION: absolute; TOP: 21px; HEIGHT: 130px; BACKGROUND-COLOR: #f1f7fc
}
.WZ_CH_f .tit {
	COLOR: #000; TEXT-INDENT: 10px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #dbe2e6 1px solid
}
.wz_city_S {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 10px; TEXT-INDENT: 0px; LINE-HEIGHT: 250%; PADDING-TOP: 0px
}
.wz_city_S A {
	MARGIN-LEFT: 8px
}
.RL_box {
	BORDER-RIGHT: #c7cbcc 2px solid; FLOAT: left; MARGIN: 20px 0px 0px 20px; WIDTH: 311px; BORDER-BOTTOM: #c7cbcc 3px solid; POSITION: relative; HEIGHT: 300px
}
.RL_mdiv {
	FONT-WEIGHT: bold; FONT-SIZE: 200px; Z-INDEX: 1; LEFT: 0px; WIDTH: 312px; COLOR: #f5f5f5; FONT-FAMILY: Arial, Helvetica, sans-serif; POSITION: absolute; TOP: 60px; TEXT-ALIGN: center
}
.RL_box .jieri_tab {
	Z-INDEX: 2; LEFT: 0px; WIDTH: 312px; POSITION: absolute; TOP: 40px
}
.RL_box .tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; Z-INDEX: 2; LEFT: 0px; WIDTH: 313px; COLOR: #fff; LINE-HEIGHT: 40px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: absolute; TOP: 0px; HEIGHT: 40px; BACKGROUND-COLOR: #dedede; TEXT-ALIGN: center
}
.jieri_tab {
	TABLE-LAYOUT: fixed; WIDTH: 310px; HEIGHT: auto
}
.jieri_tab TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.jieri_tab TR.Week_tr TD {
	BORDER-TOP: #fff 1px solid; WIDTH: 14.2%; COLOR: #999; LINE-HEIGHT: 20px; HEIGHT: 20px; BACKGROUND-COLOR: #e1e1e1
}
.jieri_tab TR.Day_tr TD {
	OVERFLOW: hidden; WIDTH: 14.2%; COLOR: #999; LINE-HEIGHT: 160%; BORDER-BOTTOM: #ececec 1px solid; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.jieri_tab TR.jr_trB TD {
	BORDER-BOTTOM-WIDTH: 0px
}
.Day_tr A {
	FONT-WEIGHT: bold
}
.Day_tr A DIV {
	CLEAR: both; COLOR: #f00; TEXT-DECORATION: none
}
.Day_tr A:hover DIV {
	CLEAR: both; COLOR: #f00; TEXT-DECORATION: none
}
UNKNOWN {
	CLEAR: both; COLOR: #f00
}
A.A_C1 {
	COLOR: #02a1fd
}
A.A_C2 {
	COLOR: #ff9100
}
A.A_C3 {
	COLOR: #33cccc
}
A.A_C4 {
	COLOR: #5cc252
}
.chun .tit {
	BACKGROUND-IMAGE: url(JR_ban/chun.jpg)
}
.chun_on .tit {
	BACKGROUND-IMAGE: url(JR_ban/chun_on.jpg)
}
.xia .tit {
	BACKGROUND-IMAGE: url(JR_ban/xia.jpg)
}
.xia_on .tit {
	BACKGROUND-IMAGE: url(JR_ban/xia_on.jpg)
}
.qiu .tit {
	BACKGROUND-IMAGE: url(JR_ban/qiu.jpg)
}
.qiu_on .tit {
	BACKGROUND-IMAGE: url(JR_ban/qiu_on.jpg)
}
.dong .tit {
	BACKGROUND-IMAGE: url(JR_ban/dong.jpg)
}
.dong_on .tit {
	BACKGROUND-IMAGE: url(JR_ban/dong_on.jpg)
}
.chun_on .RL_mdiv {
	COLOR: #defad1
}
.xia_on .RL_mdiv {
	COLOR: #feefe8
}
.qiu_on .RL_mdiv {
	COLOR: #fffcd4
}
.dong_on .RL_mdiv {
	COLOR: #e8faff
}
DIV.chun_on .jieri_tab TR TD.jr_today_td {
	FONT-WEIGHT: bold; BACKGROUND: #b8e590; BORDER-BOTTOM-COLOR: #378a00; COLOR: #378a00
}
DIV.chun_on .jieri_tab TR TD.jr_today_td A {
	FONT-WEIGHT: bold; BACKGROUND: #b8e590; BORDER-BOTTOM-COLOR: #378a00; COLOR: #378a00
}
DIV.xia_on .jieri_tab TR TD.jr_today_td {
	FONT-WEIGHT: bold; BACKGROUND: #f5d6cb; BORDER-BOTTOM-COLOR: #853423; COLOR: #853423
}
DIV.xia_on .jieri_tab TR TD.jr_today_td A {
	FONT-WEIGHT: bold; BACKGROUND: #f5d6cb; BORDER-BOTTOM-COLOR: #853423; COLOR: #853423
}
DIV.qiu_on .jieri_tab TR TD.jr_today_td {
	FONT-WEIGHT: bold; BACKGROUND: #eae693; BORDER-BOTTOM-COLOR: #80630b; COLOR: #80630b
}
DIV.qiu_on .jieri_tab TR TD.jr_today_td A {
	FONT-WEIGHT: bold; BACKGROUND: #eae693; BORDER-BOTTOM-COLOR: #80630b; COLOR: #80630b
}
DIV.dong_on .jieri_tab TR TD.jr_today_td {
	FONT-WEIGHT: bold; BACKGROUND: #aaecff; BORDER-BOTTOM-COLOR: #15659f; COLOR: #15659f
}
DIV.dong_on .jieri_tab TR TD.jr_today_td A {
	FONT-WEIGHT: bold; BACKGROUND: #aaecff; BORDER-BOTTOM-COLOR: #15659f; COLOR: #15659f
}
.jieri_tab TR TD.jr_today_td A {
	TEXT-DECORATION: underline
}
.chun_on .jieri_tab TR.Week_tr TD {
	COLOR: #0bd100; BACKGROUND-COLOR: #d6ffc3
}
.xia_on .jieri_tab TR.Week_tr TD {
	COLOR: #ff7978; BACKGROUND-COLOR: #fedbd5
}
.qiu_on .jieri_tab TR.Week_tr TD {
	COLOR: #ceb800; BACKGROUND-COLOR: #fcf67c
}
.dong_on .jieri_tab TR.Week_tr TD {
	COLOR: #00a3d6; BACKGROUND-COLOR: #c3f1ff
}
.gjc_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.gjc_tab .tit {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333; TEXT-INDENT: 19px; BORDER-BOTTOM: #dee3e4 1px solid
}
.gjc_tab TD {
	VERTICAL-ALIGN: top; LINE-HEIGHT: 30px
}
.gjc_tab TD A {
	DISPLAY: block; FONT-SIZE: 14px; FLOAT: left; MARGIN-LEFT: 15px; WHITE-SPACE: nowrap
}
.gjc_tab TD.td_L {
	FONT-SIZE: 12px; WIDTH: 58px; COLOR: #666; TEXT-ALIGN: right
}
INPUT.btn_comm {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; WIDTH: 80px; COLOR: #333; PADDING-TOP: 3px; HEIGHT: 24px
}
.lc_wide {
	BORDER-BOTTOM: #e3e3e3 1px solid
}
.lc_wide H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; LINE-HEIGHT: 40px; PADDING-TOP: 0px
}
.lc_wide H2 STRONG {
	FONT-WEIGHT: bold; COLOR: #333
}
.lc_wide INPUT.inp_jsq {
	HEIGHT: 18px;
}
.lieche_tab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
.lieche_tab TH {
	BACKGROUND-POSITION: 0px -937px; FONT-WEIGHT: normal; FONT-SIZE: 12px; OVERFLOW: hidden; COLOR: #333; TEXT-INDENT: 8px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #e6eaea 1px solid; WHITE-SPACE: nowrap; HEIGHT: 25px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.lieche_tab TD {
	FONT-SIZE: 12px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; COLOR: #666; TEXT-INDENT: 8px; LINE-HEIGHT: 25px; PADDING-TOP: 4px; BORDER-BOTTOM: #eaeaea 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.lieche_tab TD IMG {
	VERTICAL-ALIGN: middle
}
TR.lieche_ktit TD {
	BORDER-TOP: #9db3c5 2px solid; BORDER-BOTTOM: #eaeeee 1px solid; BACKGROUND-COLOR: #f1f6fc
}
TR.lieche_kcont TD {
	TEXT-INDENT: 0px; BORDER-BOTTOM: #bbcad7 1px solid; BACKGROUND-COLOR: #f9fcfe; TEXT-ALIGN: center
}
.lieche_nei {
	MARGIN: 5px auto; WIDTH: 95%; TEXT-ALIGN: left
}
.lieche_nei_tab {
	BORDER-RIGHT: #cee5c8 1px solid; BORDER-TOP: #cee5c8 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cee5c8 1px solid; WIDTH: 100%; BORDER-BOTTOM: #cee5c8 1px solid
}
.lieche_nei_tab TR TH {
	BACKGROUND-POSITION: 0px 0px; FONT-SIZE: 12px; COLOR: #333; TEXT-INDENT: 8px; LINE-HEIGHT: 23px; BORDER-BOTTOM: #cee5c8 1px solid; HEIGHT: 23px; BACKGROUND-COLOR: #f7fee9
}
.lieche_nei_tab TR TD {
	FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #999; TEXT-INDENT: 8px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
TR.lc_trbg TD {
	BACKGROUND-COLOR: #f8fcf5
}
TR.lc_trblack TD {
	COLOR: #333
}
.lieche_zk_bot {
	COLOR: #999; FONT-FAMILY: "ËÎÌå"
}
.lieche_zk_bot SPAN {
	COLOR: #333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.btn_botm {
	MARGIN: 40px auto; TEXT-ALIGN: center
}
INPUT.btn_blue_B {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(cx_btn.gif); BORDER-LEFT: 0px; WIDTH: 88px; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px
}
.lc_T_noti {
	FONT-SIZE: 12px; FLOAT: right; COLOR: #999
}
.lc_H {
	MARGIN-TOP: 8px
}
.bot_back_btn {
	CLEAR: both; BORDER-TOP: #e0e9ed 2px solid; MARGIN-TOP: 15px; PADDING-LEFT: 95px; PADDING-BOTTOM: 15px; PADDING-TOP: 8px; TEXT-ALIGN: left
}
INPUT.Back_IND {
	FONT-SIZE: 14px; WIDTH: 160px; COLOR: #333; PADDING-TOP: 2px; HEIGHT: 30px
}
